In [18]:
import pandas as pd
data1 = pd.read_csv('./data_BDP/201801.csv')
data2 = pd.read_csv('./data_BDP/201802.csv')
data3 = pd.read_csv('./data_BDP/201803.csv')
data4 = pd.read_csv('./data_BDP/201804.csv')
data5 = pd.read_csv('./data_BDP/201805.csv')
data6 = pd.read_csv('./data_BDP/201806.csv')
data7 = pd.read_csv('./data_BDP/201807.csv')
data8 = pd.read_csv('./data_BDP/201808.csv')
data9 = pd.read_csv('./data_BDP/201809.csv')
data10 = pd.read_csv('./data_BDP/201810.csv')
data11 = pd.read_csv('./data_BDP/201811.csv')
data12 = pd.read_csv('./data_BDP/201812.csv')

In [19]:
df = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11, data12], ignore_index=True)

In [20]:
df['일자']= df['일자'].astype('str')
df['일자']= pd.to_datetime(df['일자'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163534 entries, 0 to 163533
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   뉴스 식별자             163534 non-null  float64
 1   일자                 163534 non-null  datetime64[ns]
 2   언론사                163534 non-null  object
 3   기고자                150510 non-null  object
 4   제목                 163534 non-null  object
 5   통합 분류1             163534 non-null  object
 6   통합 분류2             133012 non-null  object
 7   통합 분류3             94504 non-null   object
 8   사건/사고 분류1          163534 non-null  object
 9   사건/사고 분류2          59275 non-null   object
 10  사건/사고 분류3          18600 non-null   object
 11  인물                 130725 non-null  object
 12  위치                 135857 non-null  object
 13  기관                 160851 non-null  object
 14  키워드                163533 non-null  object
 15  특성추출(가중치순 상위 50개)  163534 non-null  object
 16  본문                 163534 non-null  object
 17  URL                155426 non-null  object
 18  분석제외 여부            9865 non-null    object
dtypes: datetime64[ns](1), float64(1), object(17)
memory usage: 23.7+ MB

In [22]:
df = df.sort_values(by='일자')
df = df.reset_index()
df = df[['뉴스 식별자', '일자', '제목', '키워드']]

In [23]:
df.to_csv('./data_BDP/data_2018.csv')

In [24]:
df.head(3)

,뉴스 식별자,일자,제목,키워드
0,2.100201e+06,2018-01-01,여승객 하차요구 무시해 감금 기소된 택시기사 '무죄' 왜,"무시,여승객,하차,요구,감금,기소,택시,기사,이균진,승객,하차,요구,무시,목적지,감..."
1,2.100311e+06,2018-01-01,美 무차별 특허공세...'한국 반도체 길들이기' 나서나,"특허공세,특허,공세,한국,반도체,반도체,특허,삼성,SK,관세법,위반,업체,미국,반도..."
2,2.100311e+06,2018-01-01,"이채원 한국밸류운용 신임 대표 “""금리인상으로 가치주 시대 다시 열릴 것""”","금리인상,이채원,한국밸류운용,신임,대표,금리,인상,가치주,시대,대형,성장,강세,코스..."